.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/donation7.jpg');
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: color;
}

.banner .title{
    color: white;
    font-weight: 900;
}

.banner .description{
    color: white;
    font-weight: 900;
}

.btn-primary{
    padding: 10px;
    width: 150px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

section{
    text-align: center;
}

section .title{
    font-weight: 900;
    text-align: center;
}

section .description{
    color: gray;
    text-align: center;
}

section .btn-taka{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: gray;
}


section .other-text{
    color: gray;
}